REACT_APP_API_ENDPOINT='http://localhost:3030'
REACT_APP_EASYLOAD_TENANT=""
REACT_APP_EASYLOAD_PASSWORD=""



VITE_REACT_APP_API_ENDPOINT='http://localhost:3030'
VITE_REACT_APP_EASYLOAD_TENANT=""
VITE_REACT_APP_EASYLOAD_PASSWORD=""


