.theme-netflix.light {
	--background: 346 26% 95%;
	--foreground: 346 5% 10%;
	--card: 346 26% 90%;
	--card-foreground: 346 5% 15%;
	--popover: 346 26% 95%;
	--popover-foreground: 346 95% 10%;
	--primary: 346 67% 37%;
	--primary-foreground: 0 0% 100%;
	--secondary: 346 26% 70%;
	--secondary-foreground: 0 0% 0%;
	--muted: 308 26% 85%;
	--muted-foreground: 346 5% 40%;
	--accent: 308 26% 80%;
	--accent-foreground: 346 5% 15%;
	--destructive: 0 50% 43%;
	--destructive-foreground: 346 5% 90%;
	--border: 346 26% 50%;
	--input: 346 26% 43%;
	--ring: 346 67% 37%;
	--radius: 0.5rem;
}

.theme-netflix.dark {
	--background: 346 26% 95%;
	--foreground: 346 5% 10%;
	--card: 346 26% 90%;
	--card-foreground: 346 5% 15%;
	--popover: 346 26% 95%;
	--popover-foreground: 346 95% 10%;
	--primary: 346 67% 37%;
	--primary-foreground: 0 0% 100%;
	--secondary: 346 26% 70%;
	--secondary-foreground: 0 0% 0%;
	--muted: 308 26% 85%;
	--muted-foreground: 346 5% 40%;
	--accent: 308 26% 80%;
	--accent-foreground: 346 5% 15%;
	--destructive: 0 50% 43%;
	--destructive-foreground: 346 5% 90%;
	--border: 346 26% 50%;
	--input: 346 26% 43%;
	--ring: 346 67% 37%;
	--radius: 0.5rem;
}
