.theme-nord.light {
	--background: 213 57% 95%;
	--foreground: 213 5% 10%;
	--card: 213 50% 90%;
	--card-foreground: 213 5% 15%;
	--popover: 213 57% 95%;
	--popover-foreground: 213 95% 10%;
	--primary: 213 30% 35%;
	--primary-foreground: 0 0% 100%;
	--secondary: 213 30% 70%;
	--secondary-foreground: 0 0% 0%;
	--muted: 175 30% 85%;
	--muted-foreground: 213 5% 40%;
	--accent: 175 30% 80%;
	--accent-foreground: 213 5% 15%;
	--destructive: 0 57% 50%;
	--destructive-foreground: 213 5% 90%;
	--border: 213 30% 60%;
	--input: 213 30% 50%;
	--ring: 213 30% 35%;
	--radius: 0.5rem;
}

.theme-nord.dark {
	--background: 213 57% 95%;
	--foreground: 213 5% 10%;
	--card: 213 50% 90%;
	--card-foreground: 213 5% 15%;
	--popover: 213 57% 95%;
	--popover-foreground: 213 95% 10%;
	--primary: 213 30% 35%;
	--primary-foreground: 0 0% 100%;
	--secondary: 213 30% 70%;
	--secondary-foreground: 0 0% 0%;
	--muted: 175 30% 85%;
	--muted-foreground: 213 5% 40%;
	--accent: 175 30% 80%;
	--accent-foreground: 213 5% 15%;
	--destructive: 0 57% 50%;
	--destructive-foreground: 213 5% 90%;
	--border: 213 30% 60%;
	--input: 213 30% 50%;
	--ring: 213 30% 35%;
	--radius: 0.5rem;
}
